<div *ngIf="!showDetails">
    <div class="stepper-content" *ngIf="!showDetails">
        <button type="button" class="btn-theme mr-1 mb-3" (click)="addClick()">
            <span class="btn-circle-icon btn-circle-theme">
                <i class="fa fa-plus"></i>
            </span>
            Add New
        </button>
        <kendo-grid [groupable]="true" [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }"
            [kendoGridBinding]="gridView" [pageSize]="20" [sortable]="true" [pageable]="true">
            <ng-template kendoGridToolbarTemplate>
                <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)" />
                <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">Export to
                    Excel</button>
                <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button>
            </ng-template>
            <kendo-grid-command-column title="Action" width="100">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span class="badge-grid-action badge-blue mr-2" (click)="editClick(dataItem.id)">
                        <i class="las la-edit text-blue grd-edit-del"></i>
                    </span>
                    <span class="badge-grid-action badge-red" (click)="onDelete(dataItem.id)">
                        <i class="las la-trash text-red grd-edit-del"></i>
                    </span>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-column field="companyName" width="100" title="Company Name">
            </kendo-grid-column>
            <kendo-grid-column field="bankName" width="100" title="Bank Name">
            </kendo-grid-column>
            <kendo-grid-column field="bankBranch" width="100" title="Bank Branch">
            </kendo-grid-column>
            <kendo-grid-column field="swiftCode" width="100" title="Swift Code">
            </kendo-grid-column>
            <kendo-grid-column field="accountName" width="100" title="Account Name">
            </kendo-grid-column>
            <kendo-grid-column field="accountNumber" width="100" title="Account No">
            </kendo-grid-column>
            <kendo-grid-column field="iban" width="100" title="IBAN">
            </kendo-grid-column>
            <kendo-grid-column field="accCurrency" width="100" title="Account Currency">
            </kendo-grid-column>

            <kendo-grid-pdf fileName="CompanyAccount.pdf" paperSize="A4" [scale]="0.8" [repeatHeaders]="true">
                <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                    <div class="page-template">
                        <div class="header">
                            <div style="float: right"> Company Account </div>
                            Index Procurement
                        </div>
                        <div class="footer">
                            Page {{ pageNum }} of {{ totalPages }}
                        </div>
                    </div>
                </ng-template>
                <kendo-grid-column [columnMenu]="false" field="companyName" title="Comp. Name" width="100">
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="bankName" title="Bank Name" width="90">
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="bankBranch" title="Bank Branch" width="100">
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="swiftCode" title="Swift Code" width="90">
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="accountName" title="Acc. Name" width="90">
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="accountNumber" title="Acc. #" width="60">
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="iban" title="IBAN" width="50">
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="accCurrency" title="Acc. Currency" width="100">
                </kendo-grid-column>
            </kendo-grid-pdf>
            <kendo-grid-excel fileName="CompanyAccount.xlsx"></kendo-grid-excel>
        </kendo-grid>
    </div>
</div>

<app-company-bank-account *ngIf="showDetails" (backClick)="onBack()" [data]='data'>
</app-company-bank-account>