<div>
    <master-header title="Specification Types" tableName="specificationTypes" (saveClick)="onSave()" [id]="id"
        [formGroup]="form" (backClick)="backClick.emit()" (resetClick)="onReset()" [screenCode]="1"></master-header>
    <form class="k-form" [formGroup]="form">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Specification Code</label>
                        <input kendoTextBox type="text" class="w-100" formControlName="specificationCode"
                            maxlength="200" noSpace />
                        <div class="required-text"
                            *ngIf="form.get('specificationCode').hasError('required') && form.get('specificationCode').touched">
                            This field is required!
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Specification Name</label>
                        <input kendoTextBox type="text" class="w-100" formControlName="specificationName"
                            maxlength="200" noSpace />
                        <div class="required-text"
                            *ngIf="form.get('specificationName').hasError('required') && form.get('specificationName').touched">
                            This field is required!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>