<div *ngIf="!showDetails">
    <div class="stepper-content" *ngIf="!showDetails">
        <button type="button" class="btn-theme mr-1 mb-3" (click)="addClick()">
            <span class="btn-circle-icon btn-circle-theme">
                <i class="fa fa-plus"></i>
            </span>
            Add New
        </button>
        <div class="stepper-content" *ngIf="!showDetails">
            <kendo-grid [groupable]="true" [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }"
                [kendoGridBinding]="gridView" [pageSize]="20" [sortable]="true" [pageable]="true">
                <ng-template kendoGridToolbarTemplate>
                    <input placeholder="Search in all columns..." kendoTextBox
                        (input)="onFilter($event.target.value)" />
                    <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">Export to
                        Excel</button>
                    <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button>
                </ng-template>
                <kendo-grid-command-column title="Action" width="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="badge-grid-action badge-blue mr-2" (click)="editClick(dataItem)">
                            <i class="las la-edit text-blue grd-edit-del"></i>
                        </span>
                        <span class="badge-grid-action badge-red" (click)="onDelete(dataItem.id)">
                            <i class="las la-trash text-red grd-edit-del"></i>
                        </span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-column field="company.companyName" width="180" title="Company">
                </kendo-grid-column>
                <kendo-grid-column width="180" title="Project Name">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem.project.projectName }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="areaName" width="150" title="Area Name">
                </kendo-grid-column>
                <kendo-grid-column field="areaBudget" width="100" title="Total Area Budget">
                </kendo-grid-column>
                <kendo-grid-column field="areaWidth" width="70" title="Width">
                </kendo-grid-column>
                <kendo-grid-column field="areaLength" width="70" title="Length">
                </kendo-grid-column>
                <kendo-grid-column field="areaHeight" width="70" title="Height">
                </kendo-grid-column>
                <kendo-grid-column field="areaDiameter" width="70" title="Diameter">
                </kendo-grid-column>
                <kendo-grid-column field="areaFloor" width="70" title="Floor">
                </kendo-grid-column>
                <kendo-grid-column field="areaQuantity" width="70" title="Quantity">
                </kendo-grid-column>
                <kendo-grid-pdf fileName="ProjectArea.pdf" paperSize="A4" [scale]="0.8" [repeatHeaders]="true">
                    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                        <div class="page-template">
                            <div class="header">
                                <div style="float: right"> Project Area List </div>
                                Index Procurement
                            </div>
                            <div class="footer">
                                Page {{ pageNum }} of {{ totalPages }}
                            </div>
                        </div>
                    </ng-template>
                    <kendo-grid-column [columnMenu]="false" field="company.companyName" width="100" title="Company">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="project.projectName" width="100" title="{Project Name}">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="areaName" width="100" title="Area Name">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="areaBudget" width="70" title="Total Area Budget">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="areaWidth" width="70" title="Width">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="areaLength" width="70" title="Length">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="areaHeight" width="70" title="Height">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="areaDiameter" width="70" title="Diameter">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="areaFloor" width="70" title="Floor">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="areaQuantity" width="70" title="Quantity">
                    </kendo-grid-column>
                </kendo-grid-pdf>
                <kendo-grid-excel fileName="ProjectArea.xlsx"></kendo-grid-excel>
            </kendo-grid>
        </div>
    </div>
</div>
<app-projectarea *ngIf="showDetails" (backClick)="onBack()" [data]='data'>
</app-projectarea>