<div *ngIf="!showDetails">
    <div class="stepper-content" *ngIf="!showDetails">
        <button type="button" class="btn-theme mr-1 mb-3" (click)="addClick()">
      <span class="btn-circle-icon btn-circle-theme">
        <i class="fa fa-plus"></i>
      </span>
      Add New
    </button>

        <button type="button" class="btn-theme mr-1 mb-3" (click)="onShowGridBtnClick()" style="float:right">
      <span class="btn-circle-theme">
      </span>
      <span *ngIf="showGrid" >Show Scheduler</span>
      <span *ngIf="!showGrid" >Show Grid</span>  
    </button>
        <div *ngIf="showGrid">
            <kendo-grid #grid [groupable]="true" [group]="groups" (groupChange)="groupChange($event)" [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }" [kendoGridBinding]="gridView" [pageSize]="20" [sortable]="true" [pageable]="true">
                <ng-template kendoGridToolbarTemplate>
                    <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)" />
                    <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">Export to
            Excel</button>
                    <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button>
                </ng-template>
                <kendo-grid-command-column title="Action" width="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="badge-grid-action badge-blue mr-2" (click)="editClick(dataItem.id)">
              <i class="las la-edit text-blue grd-edit-del"></i>
            </span>
                        <span class="badge-grid-action badge-red" (click)="onDelete(dataItem.id)">
              <i class="las la-trash text-red grd-edit-del"></i>
            </span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-column field="company" width="100" title="Company">
                </kendo-grid-column>
                <kendo-grid-column field="employee" width="100" title="Employee">
                </kendo-grid-column>
                <kendo-grid-column field="project" width="100" title="Project">
                </kendo-grid-column>
                <kendo-grid-column field="projectArea" width="100" title="Project Area">
                </kendo-grid-column>
                <kendo-grid-column field="designStage" width="100" title="Design Stages">
                </kendo-grid-column>
                <kendo-grid-column field="deliverable" width="100" title="Deliverables">
                </kendo-grid-column>
                <kendo-grid-column field="subDeliverable" width="100" title="Sub Deliverables">
                </kendo-grid-column>
                <kendo-grid-column field="remarks" width="100" title="Remarks">
                </kendo-grid-column>
                <kendo-grid-column field="checkin" width="100" title="Check-In">
                </kendo-grid-column>
                <kendo-grid-column field="checkout" width="100" title="Check-Out">
                </kendo-grid-column>

                <kendo-grid-pdf fileName="TimeSheet.pdf" paperSize="A4" [scale]="0.8" [repeatHeaders]="true">
                    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                        <div class="page-template">
                            <div class="header">
                                <div style="float: right"> Item Type </div>
                                Index Procurement
                            </div>
                            <div class="footer">
                                Page {{ pageNum }} of {{ totalPages }}
                            </div>
                        </div>
                    </ng-template>
                    <kendo-grid-column [columnMenu]="false" field="company" title="Company">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="employee" title="Employee">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="project" title="Project">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="projectArea" title="Project Area">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="designStage" title="Design Stages">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="deliverable" title="Deliverables">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="subDeliverable" title="Sub Deliverables">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="remarks" title="Remarks">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="checkin" title="Check-In">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="checkout" title="Check-Out">
                    </kendo-grid-column>
                </kendo-grid-pdf>
                <kendo-grid-excel fileName="ItemType.xlsx"></kendo-grid-excel>
            </kendo-grid>
        </div>
        <div *ngIf="!showGrid">
            <kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" scrollTime="08:00">
                <kendo-scheduler-day-view>
                </kendo-scheduler-day-view>

                <kendo-scheduler-week-view>
                </kendo-scheduler-week-view>

                <kendo-scheduler-month-view>
                </kendo-scheduler-month-view>

                <kendo-scheduler-timeline-view>
                </kendo-scheduler-timeline-view>

                <kendo-scheduler-agenda-view>
                </kendo-scheduler-agenda-view>
            </kendo-scheduler>
        </div>
    </div>
</div>

<app-timesheet *ngIf="showDetails" (backClick)="onBack()" [data]='data'> </app-timesheet>