::ng-deep .nsm-dialog-btn-close {
    position: absolute;
    top: 16px;
    right: 10px;
    background-color: #e74c3c;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    float: left;
    margin-top: -1px;
    border: 0;
    color: #fff;


}