<div class="login-page">
	<div class="login-box">
		<div class="logo">
			<img src="./assets/images/logo-17.svg" />
		</div>
		<form role="form" [formGroup]="form">
			<div class="msg">Enter your new password</div>
			<p></p>
			<div class="row">
				<div class="col-md-12 col-md-6">
					<div class="form-group">
						<input kendoTextBox type="password" class="form-control" placeholder="New Password"
							formControlName="newPassword" />
						<div class="required-text"
							*ngIf="form.get('newPassword').hasError('required') && form.get('newPassword').touched">
							New password is required
						</div>
					</div>
				</div>
				<div class="col-md-12 col-md-6">
					<div class="form-group">
						<input kendoTextBox type="password" class="form-control" placeholder="Re-Type Password"
							formControlName="reTypePassword" />
						<div class="required-text"
							*ngIf="form.get('reTypePassword').hasError('required') && form.get('reTypePassword').touched">
							Re-Type password is required
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-6">
					<button type="button" class="btn btn-primary w-100" [disabled]="!form.valid"
						(click)="changePassword()">Change Password</button>
				</div>
			</div>
		</form>
	</div>
</div>