<div class="login-page">
	<div class="login-box">
		<div class="logo">
			<img src="./assets/images/logo-17.svg" />
		</div>
		<form role="form" [formGroup]="form">
			<div class="msg">First, let's find your account</div>
			<p></p>
			<div class="row">
				<div class="col-md-12 col-md-6">
					<div class="form-group">
						<input kendoTextBox class="form-control" placeholder="Email" formControlName="email" />
						<div class="required-text"
							*ngIf="form.get('email').hasError('required') && form.get('email').touched">
							Email is required
						</div>
						<div class="required-text"
							*ngIf="form.get('email').hasError('email') && form.get('email').touched">
							Email is not valid
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-6">
					<button type="button" class="btn btn-primary w-100" [disabled]="!form.valid"
						(click)="validate()">Validate</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="join-now">
						<a routerLink="../login">Login?</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>