<div>
    <master-header title="Department" tableName="department" (saveClick)="onSave()" [id]="id" [formGroup]="form"
      (backClick)="backClick.emit()" (resetClick)="onReset()" [screenCode]="1"></master-header>
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group col-md-4">
            <label>Company Name</label>
            <kendo-combobox [data]="companyList" formControlName="companyId"
                [valuePrimitive]="true" textField="value" valueField="id" class="w-100"
                [popupSettings]="{ width: 'auto' }">
            </kendo-combobox>
        </div>
        <div class="form-group col-md-4">
          <label class="label-primary">Department Name</label>
          <input type="text" class="k-textbox w-100" formControlName="departmentName" maxlength="200" noSpace />
          <div class="required-text"
            *ngIf="form.get('departmentName').hasError('required') && form.get('departmentName').touched">
            This field is required!
          </div>
        </div>
  
      </div>
    </form>
  </div>